{% extends "base.html" %}

{% block content %}
<body>
  <form method="POST" action="/calculate">
            <!--  First line  -->
            <h1 class="title is-1">Podaj dane dla pierwszego punktu:</h1>
            <div class="columns">
              <div class="column">
                   <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="1-P1-X" placeholder="P1 X">
                        </div>
                    </div>
              </div>
              <div class="column">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text"  name="1-P1-Y" placeholder="P1 Y">
                    </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text"  name="1-P2-X" placeholder="P2 X">
                    </div>
                </div>
              </div>
              <div class="column">
                 <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text"  name="1-P2-Y" placeholder="P2 Y">
                        </div>
                 </div>
              </div>
            </div>

            <!--  Second line  -->
            <h1 class="title is-1">Podaj dane dla drugiego punktu:</h1>
            <div class="columns">
              <div class="column">
                   <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text"  name="2-P1-X" placeholder="P1 X">
                        </div>
                    </div>
              </div>
              <div class="column">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text"  name="2-P1-Y" placeholder="P1 Y">
                    </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text"  name="2-P2-X" placeholder="P2 X">
                    </div>
                </div>
              </div>
              <div class="column">
                 <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text"  name="2-P2-Y" placeholder="P2 Y">
                        </div>
                 </div>
              </div>
            </div>

            <div class="buttons is-centered">
                <button class="button is-block is-info is-large is-centered">Zweryfikuj</button>
            </div>
        </form>
</body>

{% endblock %}